#header h1 {
  font-size: 35px;
}

#footer {
  text-align: center;
}

.notice {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

ul.articles {
  list-style-type: none;
}

ul.articles > li {
  margin-left: 0;
}

input[type="text"], textarea {
  width: 99%;
}

textarea {
  height: 300px;
}

textarea.article_body {
  height: 450px;
}
