<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>./log/xitrum.log</File>
    <encoder>
      <pattern>[%t] [%4p] [%d{ISO8601}] %c{1}: %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./log/xitrum.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
    </rollingPolicy>
  </appender>

  <logger name="xitrum" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="R"/>
  </root>
</configuration>
